
.titulo {
  text-align: center;
}

.libros {
  display: flex;
  justify-content: center;
}

.libro {
  width: 100px;
  border: 1px solid lightcoral;
  margin: 10px;
  padding: 5px;
}

.libro img {
  width: 100%;
}
.libro p {
  text-align: center;
}
