<div class="containter">
  <div class="detalle">
    <h2 class="nombre">{{ escritor?.nombre }} {{ escritor?.apellidos }}</h2>
    <img [src]="escritor?.imagen" alt="" />
    <p>{{ escritor?.pais }}</p>
  </div>
  <div class="boton">

    <button *ngIf="!showLibros" [routerLink]="['libros']" (click)= "onclick()">Libros editados</button>
    <button *ngIf="showLibros" [routerLink]="['/escritores', escritor.id]" (click)= "onclick()">Cerrar libros</button>

  </div>

</div>

<router-outlet></router-outlet>
